
    <div class="container-fluid">
        <h2 class="text-center">Publish a new Quote below:</h2>
        <p style="text-align: center; font-style: italic; font-weight: 750; color: red; font-family: 'Times New Roman', Times, serif;">
            *Type your quote in between the quotation marks please.</p>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
            <label style="font-weight: 800;" for="name">Quote:</label>
            <textarea class="form-control" id="name" rows="4" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required></textarea>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Quote is required</p>
            </div>
        </div>

        <div class="form-group">
            <label style="font-weight: 800;" for="author">Author of the quote:</label>
            <input class="form-control" type="text" required id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel'>
            <p style="font-weight: 800;">Display: {{newQuote.author}}</p>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Name is required</p>
            </div>
        </div>
        
        <div class="form-group">
            <label style="font-weight: 800;" for="publisher">Publisher:</label>
            <input class="form-control" type="text" required id="publisher" [(ngModel)]="newQuote.publisher" name="publisher" #publisher='ngModel'>
            <p style="font-weight: 800;">Display: {{newQuote.publisher}}</p>
            <div [hidden]="publisher.valid || publisher.pristine" class="alert alert-danger">
                <p>Name is required</p>
            </div>
        </div>

        <div class="form-group">
            <label style="font-weight: 800;" for="published">Published on:</label>
            <input type="date" id="published" [(ngModel)]="newQuote.completeDate" #completeDate="ngModel" required>
            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                <p>Date is required.</p>
            </div>
        </div>
        <button type="submit" style="margin-left: 30%;" class="btn btn-primary">Publish Quote</button>
        </form>
    </div>